node_modules/
.env
.env.*
!.env.example

afrobeats-server/node_modules/
afrobeats-server/.env
afrobeats-server/.env.*
!afrobeats-server/.env.example

afrobeats-store/node_modules/
afrobeats-store/.env
afrobeats-store/.env.*
!afrobeats-store/.env.example

.DS_Store
Thumbs.db
*.log
